@import "../../../core/variables";

.card{
	border-radius: 10% 3% 15% 0;
	background-color: $color-backcards;
	&__img{
		width: 50%;
		padding: 1rem;
		display: block;
	}
	&__content{
		font-size: 0.9em;
		font-family: $font-secondary;
		padding: 1rem;
		
		&-info{
			line-height: 2;
		}
	}
}
.material-icons{
	margin-left: .5em;

}
