@import "../../core/variables";


.App-header{
    width: 100%;
    height: 10rem;
    background-color: black;
    &__title{
      font-family: $font-primary;
      text-align: center;
      color:white;
      font-weight: bold;
      padding-top: 3rem;
      letter-spacing: 0.25em;
      word-spacing: 0.25em;
      text-transform: uppercase;
    }
  }