@import "../../core/variables";


.App__header{
    width: 100%;
    height: fit-content;
    background-color: black;
    &-title{
      font-family: $font-primary;
      text-align: center;
      padding-top: 0.5rem;
      color:white;
      font-weight: bold;
      letter-spacing: 0.25em;
      word-spacing: 0.25em;
      text-transform: uppercase;
      animation-name: titleAnimation;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  @media (min-width: 600px) and (max-width: 1000px)  {
    .App__header-title{
      padding-top: 2rem;
    }
  }

  @media (min-width:1001px) {
    .App__header-title{
      padding-top: 3rem;
    }
  }
