@import "../../../core/variables";

.cards{
	margin: 1rem;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
	gap: 1rem;
}
.fav__link{
	text-align: center;
	color: $color-dark;
	&:hover{
		text-decoration: underline;
		color: $color-secondary;
	}
}